<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter 2FA Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <form class="form-container" action="/verify_otp" method="post">
            <h2>2FA Password Needed for {{ phone }}</h2>
            <p>This account has Two-Factor Authentication enabled. Please enter your password.</p>
            <input type="hidden" name="phone" value="{{ phone }}">
            <input type="hidden" name="source" value="{{ source }}">
        <input type="hidden" name="target" value="{{ target }}">
            <input type="password" name="password" placeholder="Enter 2FA Password" required>
            <button type="submit">Verify Password</button>
        </form>
    </div>
</body>
</html>